@model VisualizarMateriasViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Matérias";
}

<p>
    <a class="btn btn-primary px-4" href="/materias/cadastrar">
        <i class="bi bi-plus"></i>
        Cadastrar Nova
    </a>
</p>

<hr />

<div class="row mt-5">
    <div class="col-12">
        <div class="d-flex flex-wrap gap-2">
            @foreach (var item in Model.Registros)
            {
                <div class="col-12 col-md-3 d-flex">
                    <div class="card border-0 w-100 h-100" style="aspect-ratio: 1/1; min-width: 200px; min-height: 200px;">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text mb-0"><span class="fw-semibold">Disciplina:</span> @item.Disciplina</p>
                            <p class="card-text mb-0"><span class="fw-semibold">Série:</span> @item.Serie.ToString()</p>
                            <span class="d-flex gap-1 justify-content-end mt-auto">
                                <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-secondary">
                                    <i class="bi bi-search"></i>
                                </a>
                                <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary rounded-circle opcao-card">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-danger rounded-circle opcao-card">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>