﻿
@model DetalhesTesteViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Detalhes do Teste";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes</h3>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="control-label fs-5">Id:</label>
                    <input class="form-control" value="@Model.Id" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="control-label fs-5">Título:</label>
                    <input class="form-control" value="@Model.Titulo" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="control-label fs-5">Disciplina:</label>
                    <input class="form-control" value="@Model.Disciplina" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="control-label fs-5">Matéria:</label>
                    <input class="form-control" value="@Model.Materia" readonly disabled />
                </div>

                <div class="form-group d-grid gap-2 mt-3">
                    <label class="control-label fs-5">Série:</label>
                    <input class="form-control" value="@Model.Serie" readonly disabled />
                </div>

                <div class="mt-5">
                    <h5>Questões Sorteadas:</h5>
                    <ul class="list-group">
                        @foreach (var questao in Model.QuestoesSorteadas!) {
                            <li class="list-group-item">
                                <strong>@questao.Enunciado</strong>
                            </li>
                        }
                    </ul>
                </div>

                <div class="form-group d-flex align-items-center justify-content-between gap-3 mt-5">
                    <a href="/testes">Voltar para a listagem</a>
                </div>
            </div>
        </div>
    </div>
</div>